extends layout/default

append content
  .ui.carousel(style="width: 400px; height: 100px;")
    .slide-list
      mixin Slide(text)
        .slide
          img(src="http://dummyimage.com/100x100&text=#{text}")

      mixin Slide(1)
      mixin Slide(2)
      mixin Slide(3)
      mixin Slide(4)
      mixin Slide(5)
      mixin Slide(6)
      mixin Slide(7)
      mixin Slide(8)
      mixin Slide(9)
      mixin Slide(10)

  br
  button(onclick="carousel.prev()") prev
  button(onclick="carousel.next()") next
  button(onclick="carousel.left(1)") left(1)
  button(onclick="carousel.right(1)") right(1)
  button(onclick="carousel.left(2)") left(2)
  button(onclick="carousel.right(2)") right(2)
  button(onclick="carousel.start()") start
  button(onclick="carousel.end()") end

append scripts
  script
    var Carousel = require('carousel');
    var carousel = new Carousel(document.querySelector('.ui.carousel'));

    carousel.visibleAmount = 4;
    carousel.animation = true;
